html{
	background-color : black;
}

a{
	color : white;
	text-decoration: none;
}

#content{
	height : 60px;
	width : 50%;
	margin-left : 25%;
	margin-top : 2%;
	background-color : yellow;
	border-radius: 10px;
	position : relative;
	z-index : 2;
}

#main-content{
	height : 500px;
	width : 80%;
	margin-left : 10%;
	margin-top : -1%;
	background-color : blue;
	border-radius : 10px;
	position : absolute;
	z-index : 1;
}

#main-content-principale{
	height : 350px;
	width : 100%;
	background-color : blue;
	position : absolute;
	z-index : 1;
}

#footer-wrap{
	position : absolute;
	background-color : red;
	bottom : 0px;
	height : 40px;
	width: 100%;
	z-index : 3;
}

#footer-wrap li{
	display: inline-block;
	float : right;
    width: 100px;
    height : 20px;
}

